<div class="row edit-profile-wrapper">
  <div class="col-sm3 left-col">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">Edit Profile</a>
        <%= link_to "Logout", destroy_user_session_path, method: :delete,
          class: "list-group-item list-group-item-action" %>
    </div>
  </div>
  <div class="col-sm-9 right-col">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render 'shared/devisemes' %>

  <div class="row username-img">
    <div class="col-sm-3 text-right">
      <%= image_tag avatar_url(@user), width: '38', height: '38', class: "round-img-edit" %>
    </div>
    <div class="col-sm-9 edit-name-position" >
      <p><%= @user.name %></p>
    </div>
  </div>
  
  <div class="form-group row">
    <%= f.label :name, class: "col-sm-3 col-form-label text-right font-weight-bold" %>
    <div class="col-sm-9">
      <%= f.text_field :name, autofocus: true, class: "form-control col-sm-9" %>
    </div>
  </div>
  
  <div class="form-group row">
    <%= f.label :website, class: "col-sm-3 col-form-label text-right font-weight-bold" %>
    <div class="col-sm-9">
      <%= f.text_field :website, class: "form-control col-sm-9" %>
    </div>
  </div>
  
  <div class="form-group row">
    <%= f.label :bio, class: "col-sm-3 col-form-label text-right font-weight-bold" %>
    <div class="col-sm-9">
      <%= f.text_field :bio, class: "form-control col-sm-9" %>
    </div>
  </div>  
  
  <div class="form-group row">
    <%= f.label :email, class: "col-sm-3 col-form-label text-right font-weight-bold" %>
    <div class="col-sm-9">
    <%= f.email_field :email, class: "form-control col-sm-9" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>



  <div class="form-group row">
    <%= f.label :password, class: "col-sm-3 col-form-label text-right font-weight-bold" %> 
    <div class="col-sm-9">
    <%= f.password_field :password, autocomplete: "off", class: "form-control col-sm-9", 
    placeholder: "Leave blank if you don't want to change it" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :password_confirmation, class: "col-sm-3 col-form-label text-right font-weight-bold"  %>
    <div class="col-sm-9">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control col-sm-9" %>
    </div>
  </div>


  <div class="form-group row">
    <div class="col-sm-3">
      <div class="col-sm-9">
        <%= f.submit "Update", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
  </div>
</div>