<div class="container">
  <div class="row">
   <div class="col-lg-6 landing-left">
     <%= render 'devise/shared/dummy_phone' %>
      
    </div>
    <div class="col-lg-6 landing-right text-center d-flex align-items-center" >
     <div>
       <div class="form-login box">
          <h2 class="core-sprite brand-name-img"></h2>
          <h5 class="light-color"><strong>Sign up to see photos and videos from your friends.<br> </strong></h5>
          
          <hr>
          
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render 'shared/devisemes' %>

            <div class="form-group">
              <%= f.text_field :name, autofocus: true, placeholder: "Your name", class: "form-control" %>
            </div>
          
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
            </div>
          
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
            </div>
          
            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation", class: "form-control" %>
            </div>
          
            <div class="actions">
              <%= f.submit "Sign up", class: "btn btn-primary" %>
            </div>
          <% end %>
          
          <br>
          
          <p class="light-color">By signing up, you agree to our <br><strong>Term &amp; Privacy Policy.</strong></p>
       </div>
      <div class="redirect-links box">
        <%= render "devise/shared/links" %>
      </div>      
  </div>
  </div>
  </div>
</div>