$('#like-icon-post-<%= @post.id.to_s %>').
  html('<%= link_to "Love", like_path(@like), method: :delete, remote: true, class: "core-sprite loved hide-text" %>');
$('#like-text-post-<%= @post.id.to_s %>').
  html('<%= j render "posts/like_text", {likes: @post.likes} %>');
console.log("create like success");  