<footer>
    <nav class="nav navbar navbar-expand -lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"> </span>  
      </button>    
       <div class="collapse navbar-collapse" id="navbar">
           <div class="navbar-nav mx-auto">
               <a href="" class="nav-item nav-ink" href="#">ABOUT US</a>
               <a href="" class="nav-item nav-ink" href="#">SUPPORT</a>
               <a href="" class="nav-item nav-ink" href="#">BLOG</a>
               <a href="" class="nav-item nav-ink" href="#">PRESS</a>
               <a href="" class="nav-item nav-ink" href="#">API</a>
               <a href="" class="nav-item nav-ink" href="#">JOB</a>
               <a href="" class="nav-item nav-ink" href="#">PRIVACY</a>
               <a href="" class="nav-item nav-ink" href="#">TERMS</a>
               <a href="" class="nav-item nav-ink" href="#">DIRECTORY</a>
               <a href="" class="nav-item nav-ink" href="#">LANGUAGE</a>
           </div>
    </div>
    </nav>
</footer>