 <%= form_for [post, Comment.new], :html => {:class => "w-100"}, remote: true do |f| %>
   <%= f.hidden_field :user_id, value: current_user.id %>
   <%= f.hidden_field :post_id, value: post.id %>
   <%= f.text_field :content, class: "form-control comment-input border-0",
   placeholder: "Add a comment ...", autocomplete: :off %>
   
 <% end %>
 