<% likes.each.with_index do |like, index| %>
<strong>
      <% if likes.size == 1 %>
       <%= like.user.name %></strong> likes this
      <% elsif like == likes.last %>
       </strong>and<strong>
         <%= + like.user.name %></strong> like this
      <% elsif index > 1 %>
       </strong><%= "and" +(likes.size-index).to_s + "others" %> like this
       <% break %>
      <% elsif index==likes.size-2 || index ==1 %>
       <%= like.user.name %>
      <% else %> 
       <%= like.user.name + "," %>
      <% end %> 
<% end %> 
</strong>