<% if post.photos.size == 1 %>
  <%= image_tag post.photos.first.image.url(:standard), class:"card-img-top" %>
<% else %>
  <div class="carousel slide" data-ride ="carousel" id="carousel-post-<%= @post.id %>">
    <div class="carousel-inner">
        　<% post.photos.each do |photo| %>
        　  <% if photo == post.photos.first %>
                 <div class="carousel-item active">
           <% else %>
                 <div class="carousel-item">
           <% end %>
                <%= image_tag photo.image.url(:standard), class: "card-img-top" %>
          </div>
         <% end %>
　　  </div>
      
    <a class="carousel-control-prev" href="#carousel-post-<%= @post.id %>" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-post-<%= @post.id %>" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>   
   </div>
  <% end %>                