<% @posts.each do |post| %>
<div class="card mt-3 post">
    <div class="card-header d-flex align-items-center">
        <%= link_to user_path(post.user), class: "no-text-decoration" do %>
          <%= image_tag avatar_url(post.user), class: "post-author-icon" %>
      <% end %> 
      <%= link_to user_path(post.user), class: "normal-color no-text-decoration",
        title: post.user.name do %>
        <strong><%= post.user.name %></strong>
       <% end %>    
       
       <% if post.is_belongs_to? current_user %>
         <%= link_to post_path(post), method: :delete, class: "ml-auto delete-post-icon mx-0 my-auto" do %> 
           <i class="far fa-trash-alt" aria-hidden="true"></i>
         <% end %>
       <% end %>     
    </div>
    
   <%= render "photos", {post: post} %>
   
    
    <div class="card-body">
        <div class="row actions">
         <div id="like-icon-post-<%= post.id.to_s %>">
        <%= render "like_icon", {is_liked: post.is_liked(current_user), post: post} %>   
         </div>   

             
            <a href="#" class="core-sprite comment hide-text">Comment</a>
            <div id="bookmark-icon-post-<%= post.id.to_s %>" class ="ml-auto">
                <%= render "bookmark_icon", {is_bookmarked: post.is_bookmarked(current_user), post:post} %>
            </div>

           
        </div>
        
        
        <div id = "like-text-post-<%=post.id.to_s %>">
        <%= render "like_text", {likes: post.likes} %>

        </div>
        <div>
            <span><strong><%= post.user.name %></strong></span>
            <span><%= post.content %></span>
        </div>
        <div id="comment-post-<%= post.id.to_s %>">
            <%= render "comment_list", {post: post} %>
        </div>
        <div class="light-color post-time"><%= time_ago_in_words(post.created_at).upcase %> AGO</div>
         <%= link_to "ABOUT", post_path(post), class: "light-color post-time no-text-decoration"%>
        <hr>
        <div class="row actions" id="comment-form-post-<%= post.id.to_s %>">
         <%= render "comment_form", {post: post} %>
        </div>
    </div>
 </div>
<% end %> 